<div class="aw-mod">
    <div class="mod-head">
        <h3>今日热议</h3>
    </div>
    <div class="mod-body font-size-12">
        <ul>
            {% for topic in topics %}
            <li><a href="{{ path('topic_view', {'id': topic.id}) }}">{{ topic.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>