<ul class="list list-group topics-widget">
     {% for topic in topics %}
    <li class="list-group-item">
        <a href="{{ path('topic_view', {'id': topic.id}) }}">
            <img src="{{ topic.user.avatar }}"  class="avatar img-circle"/>
            {{ topic.title }}
        </a>
    </li>
    {% endfor %}
</ul>