.category-list{
  .category{
    .cover{
      display:inline-block;
      width: 35px;
      height: 35px;
      vertical-align: middle;
      img{
        border-radius: 3px
      }
    }
    .name{
      font-size: 14px;
      vertical-align: middle;
      margin-left:5px;
    }
    padding: 5px 0;
  }
  .add-new-category{
    color: $contrastColor;
    font-size: 16px;
  }
}