//下margin 10px
.margin-bottom-10{
  margin-bottom: 10px !important;
}

//圆形
.img-circle{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.img-circle:hover {
  -moz-box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
  box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
  cursor: pointer;
}

//推荐印章
.sticky-tag{
  border:1px solid #ea6f5a;
  padding: 0 2px;
  cursor: pointer;
  &:hover{
    color: #ec6149;
    background-color: rgba(236,97,73,.05);
  }
  color: #ea6f5a;
  font:{
    size: 12px;
    weight:normal;
  }
}

//关注按钮组
.follow-panel{
  .btn-unfollow{
    @extend .u-btn-outline-primary;
  }
  .btn-follow{
    @extend .u-btn-deeporange;
  }
}

//tab导航
.tab-nav{
  margin-bottom: -1px;
  margin-left: 0;
  font-size: 14px;
  margin-top: -1px;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  li{
    line-height:20px;
    a{
      display:block;
      padding: 10px 30px;
    }
    &.active{
      font-weight: 600;
      a{
        border-bottom: 2px solid $contrastColor;
      }
    }
  }
}