/*------------------------------------
  文章列表
------------------------------------*/
.post-list{
  .post{
    .cover{
      img{
        max-width: 120px;
      }
    }
    .author{
      .avatar{
        width: 38px;
        height: 38px;
        display:inline-block;
        vertical-align: middle;
      }
      .username{
        font-size: 12px;
        color: #666;
        margin:0 10px;
      }
      .publish-time{
        color: $metaColor;
      }
    }
    .title{
      line-height: 1.5em;
      margin-top:5px;
      font-weight:700;
      font-size:18px;
      color: $focusFontColor
    }
    .meta{
      margin-top: 5px;
      color: $metaColor;
      a{
        color: $metaColor;
      }
    }
  }
}

.post-list-v1{
  li{
    border: none !important;
  }
  .post{
    .title{
      font:{
        size: 14px;
      }
      color: $focusFontColor;
      line-height: 1.5em;
      margin-bottom: 2px;
    }
    .author{
      img{
        width: 20px;
        height: 20px;
        vertical-align: middle;
        display: inline-block;
        margin-right: 5px;
        border: 1px solid rgba(0,0,0,0.05);
      }
      a{
        color: $metaColor;
      }
      color: $metaColor;
    }
  }
}
