@charset "UTF-8";

/*------------------------------------
  回复列表
------------------------------------*/
.reply-list{
  .reply{
    margin-top: 0;
    padding-top:20px;
    .media-left{
      padding-right:15px;
    }
    .avatar{
      display: inline-block;
      width: 50px;
      height: 50px;
    }
    .username{
      font-size:15px;
      color: #166174;
      margin-right: 10px;
    }
    .publish-at{
      color: $metaColor;
      font-size:12px;
    }
    .meta{
      float:right;
      a{
        font-size:12px;
        text-decoration: none;
        outline: none;
        .if, .fa{
          font-size:14px;
        }
      }
      .reply-user{
        cursor: pointer;
      }
    }
    .body{
      line-height: 1.6em;
      font-size: 15px;
      a{
        color: #3194d0;
        &:hover{
          color: #3194d0;
        }
      }
    }
  }
}