/*------------------------------------
  话题列表
------------------------------------*/
.topic-list {
  .topic{
    .avatar{
      width:42px;
      border-radius: 50%;
    }
    .meta{
      margin-bottom:0;
      a{
        color: $metaColor;
      }
      .tags{
      }
    }
    .title{
      font-size:14px;
      line-height:1.5em;

      .i-badge{
        color: #ffa500
      }
    }
  }
  hr{
    margin: 10px auto;
  }
}