//下margin 10px
.margin-bottom-10{
  margin-bottom: 10px !important;
}

//圆形
.img-circle{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.img-circle:hover {
  -moz-box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
  box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
  cursor: pointer;
}