{% extends 'PHPDishWebBundle::layout.html.twig' %}

{% block title %} {{ 'error.server_error'|trans }} {% endblock %}

{% block content %}
    <div class="container" role="main">
        <div class="row">
            <div class="col-md-12 error-page">
                <h2 class="text-center">
                    <i class="if i-500"></i> {{ 'error.server_error'|trans }}
                </h2>
            </div>
        </div>
    </div>
{% endblock %}
