{% extends 'PHPDishWebBundle::layout.html.twig' %}

{% block title %} OOPS! 您请求的资源不存在 {% endblock %}

{% block content %}
<div class="container" role="main">
    <div class="row">
        <div class="col-md-12 error-page">
            <h2 class="text-center">
                <i class="if i-404"></i> 您请求的资源不存在
            </h2>
        </div>
    </div>
</div>
{% endblock %}
