{% extends 'PHPDishWebBundle::layout.html.twig' %}

{% block content %}
<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <form class="reg-page" id="register-form" method="post">
                <div class="reg-header">
                    <h2>注册一个新账户</h2>
                    <p>已经有账户?点此<a href="{{ path('login') }}">登录</a>你的账户</p>
                </div>
                <label>用户名 <span class="color-red">*</span></label>
                <?=$this->Form->text('username', ['class'=>'form-control margin-bottom-20', 'autocomplete'=>'off', 'placeholder' => '用户名']);?>
                <label>密码 <span class="color-red">*</span></label>
                <?=$this->Form->password('pwd', ['class'=>'form-control margin-bottom-20', 'autocomplete'=>'off', 'id' => 'password']);?>
                <label>重复密码 <span class="color-red">*</span></label>
                <?=$this->Form->password('repassword', ['class'=>'form-control margin-bottom-20', 'autocomplete'=>'off']);?>
                <div class="row">
                    <div class="col-lg-6 checkbox">
                        <label>
                            <input type="checkbox" name="agree_policy">
                            <span>我同意</span> <a href="<?=$this->Url->build(['prefix'=>false, 'controller'=>'Fragments', 'action'=>'terms']);?>" target="_blank">注册用户协议</a>
                        </label>
                        <span id="for_policy"></span>
                    </div>
                    <div class="col-lg-6 text-right">
                        <button class="btn btn-primary" type="submit">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}