# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: 009893b87f398e9c106b11d975db58505d826261

    oauth.weibo.client_id: phpdish
    oauth.weibo.client_secret: phpdish

    oauth.github.client_id: phpdish
    oauth.github.client_secret: phpdish

    oauth.qq.client_id: phpdish
    oauth.qq.client_secret: phpdish

    algolia.application_id: phpdish
    algolia.api_key: phpdish

    qcloud.secret_id: phpdish
    qcloud.secret_key: phpdish

    phpdish.site.title: 'PHPDish 社区'
    phpdish.site.keywords: 'php,symfony,laravel,cakephp,thinkphp,php论坛,php社区,php教程,laravel教程,laravel视频,php开源'
    phpdish.site.description: 'PHPDish是一个以PHP内容为主的IT技术社区，致力于为文字爱好者、技术爱好者提供知识分享以及互动交流的平台。'

    #有赞支付参数
    youzan.client_id: phpdish
    youzan.client_secret: phpdish
    youzan.kdt_id: phpdish