{% extends 'PHPDishWebBundle::layout.html.twig' %}

{% block content %}
    <div class="container" role="main">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">私信</li>
                    <li class="list-group-item">关注</li>
                    <li class="list-group-item">
                        <a href="{{ path('notifications') }}">通知</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="panel panel-u">
                    <div class="panel-heading">提醒</div>
                    <ul class="list-group notification-list">
                        {% import 'PHPDishWebBundle:Macros:notifications.html.twig' as renderer %}
                        {% for notification in notifications %}
                        <li class="list-group-item">
                            <div class="media notification">
                                <div class="media-left media-middle">
                                    <a href="{{ path('user_view', {username: notification.fromUser.username}) }}">
                                        <img class="media-object avatar" src="{{ asset(notification.fromUser.avatar)|imagine_filter('middle_square') }}">
                                    </a>
                                </div>
                                {{ renderer.render_notification(notification) }}
                            </div>
                        </li>
                        {% else %}
                            <li class="empty-data">
                                <i class="if i-message"></i> 没有提醒
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}