<div>
    <div class="clearfix margin-bottom-10">{{ reply.body }}</div>
    <ul class="list-unstyled list-inline clearfix small">
        <li class="text-muted"><i class="fa fa-calendar"></i> {{ reply.createdAt|date('Y-m-d') }}</li>
        <li class="text-muted"><i class="fa fa-pencil"></i> {{ reply.user.username }}</li>
        <li class="text-muted"><i class="fa fa-comments"></i> <span class="cursor-pointer" data-role="mention" data-username="{{ reply.user.username }}">回复TA</span></li>
        <li class="pull-right">
            <img src="{{ reply.user.avatar }}" class="img-width-50"/>
        </li>
    </ul>
</div>
<hr/>