{% extends 'PHPDishWebBundle::layout.html.twig' %}

{% block title %} 专栏 {% endblock %}

{% block content %}
<div class="container" role="main">
    <div class="row">
        <div class="col-lg-9 col-md-9">
            <div class="panel panel-u">
                <div class="panel-heading">最新文章</div>
                <ul class="list-group post-list">
                    {% include 'PHPDishWebBundle:Common:post_list.html.twig' %}
                </ul>
                {% if posts.haveToPaginate %}
                <footer class="panel-footer">
                    {{ pagerfanta(posts, 'twitter_bootstrap3') }}
                </footer>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            {{ render(controller('PHPDishUserBundle:User:latestUsers', {'limit': 10})) }}
            {% include 'PHPDishWebBundle:Common:friend_community.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}