<div class="cmt author-info">
    <div class="pull-right">{% include 'PHPDishWebBundle:Common:qzone.html.twig' %}</div>
    <img src="<?=$this->Url->thumbnail($author->avatar, 120, 120);?>" class="rounded-x" data-plate="true" data-id="<?=$author->id;?>">
    <div class="cmt-block user-title">
        <p><span class="label">作者</span><a href="{{ path('user_view', {'username': post.author.username}) }}">{{ post.author.username }}</a></p>
        <p class="text-muted">{{ post.author.followingCount }}个关注，{{ post.author.fanCount }}个粉丝</p>
    </div>
</div>