{% extends 'PHPDishWebBundle:User:view_common.html.twig' %}

{% set tab = 'post' %}

{% if posts.count %}
    {% block entry_meta %}
        <span>共发表了{{ posts.count }}篇文章</span>
    {% endblock %}
{% endif %}

{% block user_content %}
    <ul class="list-group post-list">
        {% include 'PHPDishWebBundle:Common:post_list.html.twig' %}
    </ul>
    {% if posts.haveToPaginate %}
    <footer class="panel-footer">
        {{ pagerfanta(posts, 'twitter_bootstrap3') }}
    </footer>
    {% endif %}
{% endblock %}