{% extends 'PHPDishWebBundle:User:view_common.html.twig' %}

{% set tab = 'post' %}

{% if posts.count %}
    {% block entry_meta %}
        <span>共发表了{{ posts.count }}篇文章</span>
    {% endblock %}
{% endif %}

{% block user_content %}
    {% if posts.count %}
        <ul class="list-group post-list">
            {% include 'PHPDishWebBundle:Common:post_list.html.twig' %}
        </ul>
        {% if posts.haveToPaginate %}
        <footer class="panel-footer">
            {{ pagerfanta(posts, 'twitter_bootstrap3') }}
        </footer>
        {% endif %}
    {% else %}
        <div class="empty-data">
            <p><i class="if i-post-o"></i> 还没有发表过文章</p>
        </div>
    {% endif %}
{% endblock %}