@charset "UTF-8";
@import "variables.scss";

html, body {
  background-color: $bodyBackgroundColor;
  //overflow-y: scroll;
  color: $mainFontColor;
  height: 100%;
  font: {
    size: 12px;
    family: "微软雅黑",  "宋体"
  }
}

@media (min-width="1200px") {
  .container{
    width: 1200px;
  }
}

@media (max-width="1200px") {
  .container{
    width: 1000px;
  }
}

a {
  color:$linkColor;
  &:hover{
    color:$linkColor;
  }
}

.main-body{
  min-height:100%;
  position: relative;
  padding-bottom: 130px;
  .footer{
    position: absolute;
    bottom:0;
    width: 100%;
    height:130px;
  }
}

//报头
.masthead{
  padding-top:80px;
}

//窄布局
.narrow-layout{
  width: 960px;
}