@charset "UTF-8";
@import "variables.scss";

@media (min-width="1200px") {
  .container{
    width: 1200px;
  }
}

@media (max-width="1200px") {
  .container{
    width: 1000px;
  }
}

body {
  background-color: #f9f9f9;
  overflow-y: scroll;
  color: #525252;
  font: {
    size: 12px;
    family: "微软雅黑",  "宋体"
  }
}

a {
  color:#778087;
  &:hover{
    color:#778087;
  }
}

//覆盖markdown的字体
.markdown-body{
  font:{
    family: "微软雅黑", "宋体";
  }
}