@charset "UTF-8";
@import "variables.scss";

@media (min-width="1200px") {
  .container{
    width: 1200px;
  }
}

@media (max-width="1200px") {
  .container{
    width: 1000px;
  }
}

body {
  background-color: $bodyBackgroundColor;
  overflow-y: scroll;
  color: $mainFontColor;
  font: {
    size: 12px;
    family: "微软雅黑",  "宋体"
  }
}

a {
  color:$linkColor;
  &:hover{
    color:$linkColor;
  }
}
//煲透
.masthead{
  padding-top:80px;
}

//圆形
.img-circle{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.img-circle:hover {
  -moz-box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
  box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
  cursor: pointer;
}
//窄布局
.narrow-layout{
  width: 960px;
}