@charset "UTF-8";
/**
 *  修正第三方样式
 */
.textcomplete-item {
    img{
        width: 22px;
        height:22px;
    }
}

//覆盖markdown的字体
.markdown-body{
    font:{
        family: $mainfontFamily;
    }
    pre{
        border:none;
    }
}

//面包屑路径导航
.breadcrumb{
    background-color:#fff;
    margin-bottom: 0;
}
//banner nav
.navbar-default{
    border-bottom: 1px solid rgba(30,35,42,.06);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
    background-clip: content-box;
    background-color:#fff;
}
.navbar-brand{
    padding: 0 15px;
    img{
        height: 100%;
    }
}
.navbar-fixed-top{
    z-index:8;
}
//.navbar-nav li a{
//    line-height:30px;
//    font-size: 14px;
//}
//.navbar-form{
//    margin-top:10px;
//}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: $contrastColor;
    border-color: $contrastColor;
}
.emoji{
    width: 20px;
    height:20px;
    font-size:18px;
}