@charset "UTF-8";
/**
 *  修正第三方样式
 */
.textcomplete-item {
    img{
        width: 22px;
        height:22px;
    }
}

//覆盖markdown的字体
.markdown-body{
    font:{
        family: "微软雅黑", "宋体";
    }
    pre{
        border:none;
    }
}

//面包屑路径导航
.breadcrumb{
    background-color:#fff;
    margin-bottom: 0;
}
//banner nav
.navbar-default{
    //border-bottom:1px solid rgba(30,35,42,.06);
    //box-shadow:0 1px 3px 0 rgba(0,34,77,.05);
    background-color:#fff;
}
.navbar-brand{
    padding: 0 15px;
    img{
        height: 100%;
    }
}

//.navbar-nav li a{
//    line-height:30px;
//    font-size: 14px;
//}
//.navbar-form{
//    margin-top:10px;
//}