@charset "UTF-8";
/**
 *  修正第三方样式
 */
.textcomplete-item {
    img{
        width: 22px;
        height:22px;
    }
}

//覆盖markdown的字体
.markdown-body{
    font:{
        family: "微软雅黑", "宋体";
    }
}

//面包屑路径导航
.breadcrumb{
    background-color:#fff;
    margin-bottom: 0;
}
//banner nav
.navbar-brand{
    padding: 0 15px;
    height: 60px;
}
.navbar-default{
    background-color:#fff;
}
.navbar-nav li a{
    line-height:30px;
    font-size: 14px;
}