@charset "UTF-8";

/*------------------------------------
  下margin 10px
------------------------------------*/
.margin-bottom-10{
  margin-bottom: 10px !important;
}

/*------------------------------------
  圆形图片
------------------------------------*/
.img-circle{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.img-circle:hover {
  //-moz-box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
  //-webkit-box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
  //box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
  cursor: pointer;
}

/*------------------------------------
  Badge
------------------------------------*/
.badge-u{
  color: #fff;
}
.badge-u-success{
  background-color:#72c02c !important;
}
.badge-u-orange{
  background-color:orange !important;
}

/*------------------------------------
  推荐印章
------------------------------------*/
.sticky-tag{
  border:1px solid #ea6f5a;
  padding: 0 2px;
  cursor: pointer;
  &:hover{
    color: #ec6149;
    background-color: rgba(236,97,73,.05);
  }
  color: #ea6f5a;
  font:{
    size: 12px;
    weight:normal;
  }
}

/*------------------------------------
  关注按钮组
------------------------------------*/
.follow-panel{
  .btn-unfollow{
    @extend .u-btn-outline-primary;
  }
  .btn-follow{
    @extend .u-btn-deeporange;
  }
}

/*------------------------------------
  tab导航
------------------------------------*/
.tab-nav{
  margin-bottom: -1px;
  margin-left: 0;
  font-size: 14px;
  margin-top: -1px;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  li{
    line-height:20px;
    a{
      display:block;
      padding: 10px 30px;
      color:$mainFontColor;
      text-decoration: none;
    }
    &.active{
      font-weight: 600;
      a{
        border-bottom: 2px solid $contrastColor;
      }
    }
  }
}

/*------------------------------------
  自定义panel
------------------------------------*/
.panel-u{
  //border-color: $borderColor;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  box-sizing: border-box;
  .panel-heading{
    background-color:#fff;
    border-color:$borderColor;
  }
  .panel-footer{
    @extend .panel-heading;
  }
  .list-group-item{
    border: 1px solid $borderColor;
  }
}

/*------------------------------------
  widget panel
------------------------------------*/
.panel-widget{
  @extend .panel-u;
  .panel-heading{
    text-align:left;
  }
}

/*------------------------------------
  头部导航增加背景色
------------------------------------*/
.navbar-nav{
  li{
    &.active{
      a{
        background-color:#f5f5f5 !important;
      }
    }
    a:hover{
      background-color:#f5f5f5 !important;
    }
  }
}

/*------------------------------------
  导航区域
------------------------------------*/
.nav-profile{
  margin-right: 0;
  height:50px;

  //注册登录按钮
  .btn-register{
    vertical-align: middle;
    -webkit-border-radius:999px;
    -moz-border-radius:999px;
    border-radius: 999px;
    padding: 4px 10px;
    margin-top: 10px;
  }

  //通知数量区域
  .nav-notifications{
    .if{
      font-size:18px;
      vertical-align: middle;
    }
    .notification-number{
      display:none;
      &[data-number]{
        display: inline-block;
        background-color:#e64b3b;
      }
    }
  }

  //用户信息区域
  .nav-user{
    position:relative;
    cursor:pointer;
    &:hover{
      background-color: #f5f5f5;
    }
    .avatar{
      padding: 8px 10px 8px 18px;
      img{
        width: 35px;
        height: 35px;
        display: inline-block;
      }
    }
  }

  .popover-menu{
    border-top:1px solid $contrastColor;
    .arrow{
      top: -8px;
      right: 20px;
      clip: rect(-2px 18px 8px -4px);
      position:absolute;
      &:after{
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        background: #fff;
        transform: rotate(45deg) translate(1px);
        border: 1px solid $contrastColor;
      }
    }
  }

  .dropdown-menu{
    li .if{
      font-size: 18px;
      vertical-align: middle;
    }
  }
}


/*------------------------------------
  头部搜索
------------------------------------*/
.top-search{
  .query{
    border: none;
    border-bottom: 1px solid #333;
    box-shadow:none;
    border-radius: 0;
    &:focus{
      border-bottom-color: $contrastColor;
    }
  }
  .btn{
    border: none;
    transition: font-size 0.2s;
    width: 40px;
    height: 34px;
    padding: 5px 0 0 0;
    &:hover{
      background-color: transparent;
      i{
        font-size: 18px;
      }
    }
  }
}

/*------------------------------------
  页尾
------------------------------------*/
.footer{
  border: $borderColor;
  background-color: #fff;
  .panel{
    border: none;
    .panel-footer{
      border: none;
      background-color: #fff;
    }
  }
}

/*------------------------------------
  User Plate 话题页右上角用户区域
------------------------------------*/
.community-description{
  .register-action{
    margin-bottom: 10px;
  }
}
.user-plate{
  .avatar{
    width:50px;
    height:50px;
    display: inline-block;
  }
  .badge-icons{
    font:{
      size: 14px;
    }
    .if{
      font-size:18px;
      vertical-align: middle;
    }
    a{
      text-decoration: none;
      color: $metaColor;
    }
  }
}

/*------------------------------------
  数据列表空状态
------------------------------------*/
.empty-data{
  padding: 40px 0;
  text-align: center;
  color: #8590a6;
  i.if {
    font-size: 40px;
    color: rgba(133, 144, 166, 0.8);
  }
}

/*------------------------------------
  Markdown 预览
------------------------------------*/
.preview-panel{
  background-color:rgba(249, 255, 217, 0.25);
  border: 1px dashed #dedede;
  padding: 10px;
}

/*------------------------------------
  Comment Form
------------------------------------*/
.comment-panel{
  .body{
    height: 150px;
    vertical-align: middle;
    resize: vertical;
  }
  .tips{
    color:$metaColor;
    font-size: 12px;
    float:right;
    i{
      font-size:16px;
      vertical-align: middle;
    }
  }
  .actions{
    margin-top:10px;
    .preview-action{
      margin-left: 20px;
      cursor:pointer;
      &:hover{
        color: $contrastColor;
      }
    }
  }
  .preview-panel{
    margin-top:10px;
  }
}

/*------------------------------------
  上传的照相机按钮
------------------------------------*/
.upload-cover{
  position: relative;
  width: 55px;
  height: 55px;

  &.uploaded{
    .upload-camera-icon{
      display:none;
    }
    &:hover{
      .upload-camera-icon{
        display:block;
      }
    }
  }
  //图标区域
  .upload-camera-icon{
    width: 55px;
    height: 55px;
    z-index:999 !important;
    border: 1px dashed $metaColor;
    display:block;
    padding: 10px 15px;
    cursor: pointer;
    color: $metaColor;
    i{
      font-size: 22px;
    }
    &:hover{
      background-color:rgba(0,0,0,0.5);
      i{
        color:#fff0f0;
      }
    }
  }
  .preview-image{
    position: absolute;
    left:0;
    top:0;
    z-index:1;
    width: 55px;
    height: 55px;
    border: 1px dashed $metaColor;
  }
}

.i-plus{
  font-size:17px;
}

/*------------------------------------
  Form Error
------------------------------------*/
form{
  label.error{
    color: #d04949;
  }
}

/*------------------------------------
  侧边导航
------------------------------------*/
.vertical-menu{
  font-size: 18px;
  .if{
    color: $contrastColor;
    vertical-align: middle;
    margin-right:15px;
    &:hover, &.active{
      color: $contrastColor;
    }
  }
  .list-group-item{
    border:none;
    padding: 10px 25px;
    span{
      font:{
        size: 15px;
        family: $mainfontFamily;
      }
      cursor:pointer;
    }
    a{
      text-decoration: none;
      font:{
        size: 15px;
        family: $mainfontFamily;
      }
      &:active{
        color: $linkColor;
      }
    }

    //鼠标悬停或者选中变背景色
    &:hover, &.active{
      background-color: #f0f0f0;
    }

    &.on{
      .sub-menu{
        display:block;
      }
    }
    .sub-menu{
      padding-left: 18px;
      transition: display 0.5s ease-in;
      list-style: none;
      li{
        padding: 5px;
        &.active{
          background-color: #f0f0f0;
        }
      }
      a{
        font:{
          size: 13px;
          family: $mainfontFamily;
        }
      }
    }
  }
}

/*------------------------------------
  错误页面
------------------------------------*/
.error-page{
  padding-top: 10%;
  .i-404, .i-500{
    font-size: 62px;
    color: $metaColor;
    vertical-align: middle;
  }
}

/*------------------------------------
  占位位置样式
------------------------------------*/

@keyframes shortLoading {
  from {
    left: 0;
  }
  to {
    left: 200px;
  }
}

@keyframes shortLoading {
  0% {
    width: 20%
  }
  50% {
    width: 40%
  }
  to {
    width: 20%
  }
}

@-webkit-keyframes shortLoading {
  0% {
    width: 20%
  }
  50% {
    width: 40%
  }
  to {
    width: 20%
  }
}

@keyframes loading {
  0% {
    width: 60%
  }
  50% {
    width: 100%
  }
  to {
    width: 60%
  }
}

@-webkit-keyframes loading {
  0% {
    width: 60%
  }
  50% {
    width: 100%
  }
  to {
    width: 60%
  }
}
.resource-placeholder {
  padding:10px;
  .bar {
    height: 16px;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    animation: shortLoading 1s ease-in-out infinite;
    -webkit-animation: shortLoading 1s ease-in-out infinite;
    -moz-animation: shortLoading 1s ease-in-out infinite;
    -o-animation: shortLoading 1s ease-in-out infinite;
    margin: 10px 0;
  }
   .bar1{
     -webkit-animation-name: loading;
     -moz-animation-name: loading;
     -o-animation-name: loading;
     animation-name: loading;
     -webkit-animation-delay: -.5s;
     -moz-animation-delay: -.5s;
     -o-animation-delay: -.5s;
     animation-delay: -.5s;
   }
  .bar2{
    -webkit-animation-name: loading;
    -moz-animation-name: loading;
    -o-animation-name: loading;
    animation-name: loading;
  }
  .bar3{
  }
}
