@charset "UTF-8";

//下margin 10px
.margin-bottom-10{
  margin-bottom: 10px !important;
}

//圆形图片
.img-circle{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.img-circle:hover {
  //-moz-box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
  //-webkit-box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
  //box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);
  cursor: pointer;
}

//Badge
.badge-u{
  color: #fff;
}
.badge-u-success{
  background-color:#72c02c !important;
}
.badge-u-orange{
  background-color:orange !important;
}

//推荐印章
.sticky-tag{
  border:1px solid #ea6f5a;
  padding: 0 2px;
  cursor: pointer;
  &:hover{
    color: #ec6149;
    background-color: rgba(236,97,73,.05);
  }
  color: #ea6f5a;
  font:{
    size: 12px;
    weight:normal;
  }
}

//关注按钮组
.follow-panel{
  .btn-unfollow{
    @extend .u-btn-outline-primary;
  }
  .btn-follow{
    @extend .u-btn-deeporange;
  }
}

//tab导航
.tab-nav{
  margin-bottom: -1px;
  margin-left: 0;
  font-size: 14px;
  margin-top: -1px;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  li{
    line-height:20px;
    a{
      display:block;
      padding: 10px 30px;
    }
    &.active{
      font-weight: 600;
      a{
        border-bottom: 2px solid $contrastColor;
      }
    }
  }
}

//自定义panel
.panel-u{
  //border-color: $borderColor;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  box-sizing: border-box;
  .panel-heading{
    background-color:#fff;
    border-color:$borderColor;
  }
  .list-group-item{
    border: 1px solid $borderColor;
  }
}

//widget panel
.panel-widget{
  @extend .panel-u;
  .panel-heading{
    text-align:left;
    color: #72c02c;
  }
}
//导航区域
.nav-profile{
  margin-right: 0;
  .btn-register{
    vertical-align: middle;
    -webkit-border-radius:999px;
    -moz-border-radius:999px;
    border-radius: 999px;
    padding: 0 15px;
    margin-top: 14px;
  }

  .nav-user{
    position:relative;
    cursor:pointer;
    &:hover{
      background-color: #f5f5f5;
    }
    .avatar{
      padding: 13px 10px 13px 18px;;
      img{
        width: 35px;
        height: 35px;
        display: inline-block;
      }
    }
  }

  .popover-menu{
    border-top:1px solid $contrastColor;
    .arrow{
      top: -8px;
      right: 20px;
      clip: rect(-2px 18px 8px -4px);
      position:absolute;
      &:after{
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        background: #fff;
        transform: rotate(45deg) translate(1px);
        border: 1px solid $contrastColor;
      }
    }
  }

  .dropdown-menu{
    li .if{
      font-size: 18px;
      vertical-align: middle;
    }
  }
}


/*------------------------------------
  头部搜索
------------------------------------*/
.top-search{
  .query{
    border: none;
    border-bottom: 1px solid #333;
    box-shadow:none;
    border-radius: 0;
    &:focus{
      border-bottom-color: $contrastColor;
    }
  }
  .btn{
    border: none;
    transition: font-size 0.2s;
    width: 40px;
    height: 34px;
    padding: 5px 0 0 0;
    &:hover{
      background-color: transparent;
      i{
        font-size: 18px;
      }
    }
  }
}

/*------------------------------------
  页尾
------------------------------------*/
.footer{
  border: $borderColor;
  background-color: #fff;
  .panel{
    border: none;
    .panel-footer{
      border: none;
      background-color: #fff;
    }
  }
}

/*------------------------------------
  话题页右上角用户区域
------------------------------------*/
.community-description{
  .register-action{
    margin-bottom: 10px;
  }
}
.user-plate{
  .avatar{
    width:50px;
    height:50px;
    display: inline-block;
  }
  .badge-icons{
     font-size:14px;
     margin-top: 12px;
    .notification-num{
      .badge{
        margin-left: 5px;
      }
    }
  }
}

/*------------------------------------
  数据列表空状态
------------------------------------*/
.empty-data{
  padding: 40px 0;
  text-align: center;
  color: #8590a6;
  i.if {
    font-size: 40px;
    color: rgba(133, 144, 166, 0.8);
  }
}

/*------------------------------------
  Markdown 预览
------------------------------------*/
.preview-panel{
  background-color:rgba(249, 255, 217, 0.25);
  border: 1px dashed #dedede;
  padding: 10px;
}

/*------------------------------------
  Comment Form
------------------------------------*/
.comment-panel{
  .body{
    height: 150px;
    vertical-align: middle;
    resize: vertical;
  }
  .tips{
    color:$metaColor;
    font-size: 12px;
    float:right;
    i{
      font-size:16px;
      vertical-align: middle;
    }
  }
  .actions{
    margin-top:10px;
    .preview-action{
      margin-left: 20px;
      cursor:pointer;
      &:hover{
        color: $contrastColor;
      }
    }
  }
  .preview-panel{
    margin-top:10px;
  }
}

/*------------------------------------
  上传的照相机按钮
------------------------------------*/
.upload-camera-icon{
  display:inline-block;
  padding: 10px 15px;
  cursor: pointer;
  color: $metaColor;
  i{
    font-size: 22px;
  }
  border: 1px dashed $metaColor;
}

/*------------------------------------
  Form Error
------------------------------------*/

form{
  label.error{
    color: #d04949;
  }
}