@charset "UTF-8";

//自定义panel
.panel-u{
  //border-color: $borderColor;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  box-sizing: border-box;
  .panel-heading{
    background-color:#fff;
    border-color:$borderColor;
  }
  .list-group-item{
    border: 1px solid $borderColor;
  }
}

//widget panel
.panel-widget{
  @extend .panel-u;
  .panel-heading{
    text-align:left;
  }
}

.user-plate{

}

//页尾
.footer{
  border: $borderColor;
  background-color: #fff;
  .panel{
    border: none;
    .panel-footer{
      border: none;
      background-color: #fff;
    }
  }
}