//主题色
$mainColor: #fff;

//背景色
$bodyBackgroundColor: #f9f9f9;

//边框色
$borderColor: #eee;
//主体字体颜色
$mainFontColor: #525252;
//着重字体色
$focusFontColor: #333;
//链接色
$linkColor: #525252;
//$linkColor: #778087;
//meta颜色
$metaColor: #bab9bb;
//对比颜色
$contrastColor: #72c02c;