<ul class="list-group">
    {% for user in users %}
    <li class="list-group-item">
        <a href="{{ path('user_view', {'username': user.username}) }}" target="_blank" title="{{ user.username }}">
            <img src="{{ user.avatar }}" class="avatar img-responsive" height="50" width="50"/>
        </a>
    </li>
    {% endfor %}
</ul>