<aside class="panel panel-default panel-widget">
    <div class="panel-heading">活跃用户</div>
    <div class="panel-body user-list user-list-v1">
        {% include 'PHPDishWebBundle:User:_user_list_v1.html.twig' %}
    </div>
</aside>