{% extends 'PHPDishWebBundle:User:view_common.html.twig' %}

{% if tab  is not defined %}
{% set tab = 'following' %}
{% endif %}

{% if users.count %}
    {% block entry_meta %}
        <span>共关注{{ users.count }}个用户</span>
    {% endblock %}
{% endif %}

{% block user_content %}
    <div class="panel-body user-list">
        {% include 'PHPDishWebBundle:Common:user_list.html.twig' %}
    </div>
{% endblock %}