{% extends 'PHPDishWebBundle:User:user_following.html.twig' %}

{% set tab = 'follower' %}

{% set users = followers %}

{% if followers.count %}
    {% block entry_meta %}
        <span>{{ 'user.total_follwers'|trans({'%count%': followers.count}) }}</span>
    {% endblock %}
{% endif %}