{% extends 'PHPDishWebBundle:User:view_common.html.twig' %}

{% if tab  is not defined %}
{% set tab = 'following' %}
{% endif %}

{% if users.count %}
    {% block entry_meta %}
        <span>{{ 'user.total_following'|trans({'%count%': users.count}) }}</span>
    {% endblock %}
{% endif %}

{% block user_content %}
    {% if users.count %}
    <div class="panel-body user-list">
        {% include 'PHPDishWebBundle:User:_user_list.html.twig' %}
    </div>
    {% else %}
        <div class="empty-data">
            <p><i class="if i-fan"></i> {{ tab == 'following' ? 'user.no_following_yet'|trans : 'user.no_followers_yet'|trans }}</p>
        </div>
    {% endif %}
{% endblock %}