<div class="panel panel-widget hot-threads-widget">
    <div class="panel-heading">{{ 'thread.recommend_threads'|trans }}</div>
    <div class="panel-body">
        {% include 'PHPDishWebBundle:Thread:_thread_tagify.html.twig' with {'threads': threads} %}
        <a class="meta" href="{{ path('threads') }}">{{ 'thread.all_threads'|trans }}</a>
    </div>
</div>