{% extends 'PHPDishWebBundle:Common:notification_layout.html.twig' %}

{% block title %} {{ 'chat.inbox'|trans }} {% endblock %}

{% block notification_content %}
    <div class="panel panel-u">
        <div class="panel-heading">{{ 'chat.inbox'|trans }}</div>
        {% include 'PHPDishWebBundle:Chat:_thread_list.html.twig' with {'threads': threads} %}
        {% if threads.haveToPaginate %}
            <footer class="panel-footer">
                {% from 'PHPDishWebBundle:Macros:paginator.html.twig' import paginator %}
                {{ paginator(threads) }}
            </footer>
        {% endif %}
    </div>
{% endblock %}
