{% extends 'PHPDishAdminBundle::layout.html.twig' %}

{% block pageHeader %}
<h1>
    {{ 'admin.user.management'|trans }}
    <small>{{ 'admin.user.index'|trans }}</small>
</h1>
{% endblock %}

{% block content %}
    {{ grid_search(grid) }}
    {{ grid(grid, _self) }}
{% endblock %}

{% block grid_filters %}{% endblock %}