<div class="panel panel-default panel-widget friend-community">
    <div class="panel-heading">{{ 'friend_link'|trans }}</div>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="http://www.jianshu.com/" target="_blank"><img src="{{ asset('img/friends/jianshu.png') }}"/></a>
        </li>
        <li class="list-group-item">
            <a href="https://cnpmjs.org/" target="_blank"><img src="https://os.alipayobjects.com/rmsportal/oygxuIUkkrRccUz.jpg"/></a>
        </li>
    </ul>
</div>