<ul class="breadcrumb">
    <li><a href="/">首页</a></li>
    {% for breadcrumb in  breadcrumbs %}
        <li {% if loop.last %}class="active"{% endif %}>
            {% if breadcrumb.url is defined %}
            <a href = "{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
            {% else %}
            {{ breadcrumb.title }}
            {% endif %}
        </li>
    {% endfor %}
</ul>