<div class="md-editor" data-role="md-editor">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#write" aria-controls="home" role="tab" data-toggle="tab">
                <i class="if i-write"></i> 书写
            </a>
        </li>
        <li role="presentation">
            <a href="#preview" aria-controls="profile" role="tab" data-toggle="tab">
                <i class="if i-preview"></i> 预览
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active md-editor-write-panel" id="write">
            <textarea class="md-editor-write form-control" data-role="inline-attachment" role="md-editor-write" placeholder="请使用markdown语法"></textarea>
        </div>
        <div role="tabpanel" class="tab-pane md-editor-preview-panel" id="preview">
            <article class="md-editor-preview markdown-body"  role="md-editor-preview">
            </article>
        </div>
    </div>
    <div class="tips"><i class="if i-markdown"></i> 请使用Markdown语法书写</div>
</div>