{% extends 'PHPDishWebBundle::layout.html.twig' %}

{% block title %} {{ setting.setting|trans }} {% endblock %}

{% block content %}
    <div class="container" role="main">
        {% from  'PHPDishWebBundle:Macros:notification.html.twig' import flashes %}
        {{ flashes() }}
        <div class="row">
            <div class="col-lg-3 col-md-3">
                {{ knp_menu_render('setting_menu', {'currentClass': 'active'}) }}
            </div>
            <div class="col-lg-9 col-md-9">
                {% block setting_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}