<div class="text-center">
    <div class="bdsharebuttonbox" style="display:inline-block">
        <a href="#" class="bds_more" data-cmd="more" title="">
        </a>
        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">
        </a>
        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">
        </a>
        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博">
        </a>
        <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网">
        </a>
        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">
        </a>
        <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧">
        </a>
        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">
        </a>
    </div>
</div>
<script>
    window._bd_share_main = false;
    window._bd_share_config = {
        common: {
            bdText: '<?=htmlspecialchars($post->title);?>',
            bdUrl: '<?=$postUrl;?>'
        },
        share: [{
            'bdStyle': 1,
            'bdSize': 32
        }]
    };
    <?php if(! empty($post->show_pic)):?>
    window._bd_share_config.common.bdPic = '<?=$this->Url->imageUrl($post->show_pic);?>';
    <?php endif;?>
    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~ ( - new Date() / 36e5)];
</script>