{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div>
        {{ object|wallet_history_type}}
            {#<img src="{{ asset('uploads/images/' ~ object.imageFilename) }}" class="img-responsive" />#}
    </div>
{% endblock %}