{% extends 'PHPDishWebBundle::layout.html.twig' %}

{% block title %} PHPDish {% endblock %}

{% block content %}
<div class="container" role="main">
    <div class="row">
        <div class="col-lg-9 col-md-9">
            <div class="panel panel-u topic-list">
                <div class="panel-heading">热门话题</div>
                <div class="panel-body">
                    {% include 'PHPDishWebBundle:Topic:topic_list.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            {{ render(controller('PHPDishUserBundle:User:latestUsers', {'limit': 10})) }}
            {{ render(controller('PHPDishPostBundle:Post:recommendPosts', {'limit': 10})) }}
            {% include 'PHPDishWebBundle:Common:friend_community.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}