{% extends 'PHPDishWebBundle::layout.html.twig' %}

{% block title %} PHPDish {% endblock %}

{% block content %}
<div class="container" role="main">
    <div class="row">
        <div class="col-lg-9 col-md-9">
            <div class="panel panel-default panel-u">
                <ul class="list-group post-list">
                    {% include 'PHPDishWebBundle:Common:posts.html.twig' %}
                </ul>
                {% if posts.haveToPaginate %}
                <footer class="panel-footer">
                    {{ pagerfanta(posts, 'twitter_bootstrap3') }}
                </footer>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <aside class="panel panel-default panel-widget">
                <div class="panel-heading">活跃用户</div>
                {{ render(controller('PHPDishUserBundle:User:latestUsers', {'limit': 10})) }}
            </aside>
        </div>
    </div>
</div>
{% endblock %}