/*Registration and Login Page v1
------------------------------------*/
.reg-page {
  color: #555;
  padding: 30px;
  background: #fefefe;
  border: solid 1px #eee;
  box-shadow: 0 0 3px #eee;
  margin-bottom: 10px;
  .group{
    margin-bottom: 20px;
    label.error{
      margin-left: 10%;
    }
  }

  .input-group{
    .input-group-addon{
      background-color:transparent;
      color:#999;
    }
    .form-control{
      height:40px;
    }
  }

  .forgot-password{
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
  }
  .cross-line{
    margin-top:20px;
    text-align: center;
    &:before{
      display:inline-block;
      width: 10%;
      content: " ";
      border-top:1px solid #ccc;
      vertical-align: middle;
    }
    &:after{
      display:inline-block;
      width: 10%;
      content: " ";
      border-top:1px solid #ccc;
      vertical-align: middle;
    }
    span{
      display: inline-block;
      vertical-align: middle;
    }
  }
  .social-connection{
    margin-top:20px;
    padding: 5px;
    .btn-sm{
      padding: 0 5px;
    }
    i{
      font-size:22px;
    }
    a{
      &:hover, &:focus{
        .i-github{
          color: #fff;
        }
        .i-weibo{
          color: #fff;
        }
        .i-qq{
          color: #fff;
        }
      }
    }
  }
}

/*Reg Header*/
.reg-header {
  color: #555;
  text-align: center;
  margin-bottom: 35px;
  border-bottom: solid 1px #eee;
}

.reg-header h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

/*Reg Forms*/
.reg-page label {
  color: #777;
}