@charset "UTF-8";

/*------------------------------------
  通知页面
------------------------------------*/
.notification-list{
  .notification{
    .avatar{
      width: 48px;
      height:  48px;
      border-radius: 50%;
      border: 1px solid $borderColor;
    }
    a{
      color: #3194d0;
    }
    .username{

    }
  }
}