@charset "UTF-8";

/*------------------------------------
  通知页面
------------------------------------*/
.notification-list{
  .notification{
    .avatar{
      width: 45px;
      height:  45px;
      border-radius: 50%;
      border: 1px solid $borderColor;
    }
    a{
      color: #3194d0;
      &.username{
        color: $linkColor;
      }
    }
    .body{
      font-size:14px;
      line-height: 1.5em;
      margin-top:10px;
    }
  }
}

/*------------------------------------
  对话框
------------------------------------*/
.chat-list{
  .chat{
    .avatar{
      width: 45px;
      height:  45px;
      border-radius: 50%;
      border: 1px solid $borderColor;
    }
    .body{
      font-size:14px;
      line-height: 1.5em;
      margin-top:5px;
      &.preview{
        a{
          color: #999;
        }
      }
    }
  }
}

.reply-chat{
  padding-top:40px;
  .body{
    height: 65px;
    resize:vertical;
  }
}

.new-chat{
  .recipient{
    img{
      border-radius:50%;
      width: 45px;
      border:1px solid 1px solid #f5f5f5;
      padding:1px;
    }
  }
}