/*------------------------------------
  专栏页面
------------------------------------*/
.category-detail{
  .category{
    .avatar{
      width: 80px;
      height: 80px;
      display: inline-block;
    }
    .name{
      font-size: 16px;
      font-weight: 600;
    }
    .meta{
      font-weight:500;
    }
  }
}

/*------------------------------------
  添加专栏页面
------------------------------------*/
.add-category{
  .category{
    .description{
      height: 120px;
      resize: vertical;
    }

    //订阅价格
    .prices-tags{
      .btn{
        border-radius: 5%;
        &.active{
          background-color: $contrastColor;
          border: 1px solid transparent;
          box-shadow: none;
          color: #fff;
        }
      }

      .custom-charge{
          vertical-align: bottom;
          margin-left:15px;
          .charge{
            border:none;
            vertical-align: bottom;
            border-bottom: 1px solid #dedede;
            padding-left:15px;
            &:focus{
              outline-style: none;
            }
          }
      }
    }
  }

}


/*------------------------------------
  文章详情页
------------------------------------*/
.post-detail{
  .body{
    line-height: 1.8em;
    font-size: 14px;
    margin-top:20px;
  }
  //作者部分
  .author{
    .avatar{
      display: inline-block;
      height: 50px;
      width:50px;
      vertical-align: middle;
      img{
        @extend .img-circle;
      }
    }
    .media-body{
      vertical-align: middle;
      .username{
        font-size: 14px;
        padding-right: 10px;
        vertical-align: middle;
      }
      i{
        font-size: 12px;
      }
      button{
        padding: 0 7px 0 5px;
        font-size: 12px;
        border-radius: 12px;
      }
      .meta{
        display:inline-block;
        color: $metaColor;
        margin-top: 5px;
        font-size: 12px;
      }
      .action{
        display:inline-block;
        float: right;
      }
    }
  }
  //操作部分

  .action{
    margin-top:15px;
  }
  //专栏部分
  .category{
    .avatar{
      width: 50px;
      height:50px;
      display: inline-block;
    }
    .media-heading{
      a{
        color: $focusFontColor;
      }
    }
    .meta{
      color:$metaColor;
      li{
        padding-right: 0;
      }
    }
  }
}

/*------------------------------------
  付费部分
------------------------------------*/
.payfor{
  margin-top:-50px;
  position: relative;
  z-index: 999;
  text-align: center;
  .mask{
      height:80px;
      background: -moz-linear-gradient(bottom,rgba(255,255,255,.1),rgba(255,255,255,0));
      background: -webkit-gradient(linear,0 top,0 bottom,from(rgba(255,255,255,0)),to(#fff));
      background: -o-linear-gradient(bottom,rgba(255,255,255,.1),rgba(255,255,255,0));
  }
  .action{
    padding-top:15px;
  }
}

/*------------------------------------
  添加评论
------------------------------------*/
.add-comment{
  position: relative;
  margin-left:62px;
  .avatar{
    width:50px;
    height:50px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    position: absolute;
    left: -48px;
  }
  textarea{
    vertical-align: middle;
    resize: none;
    height: 100px;
  }
}

/*------------------------------------
  添加文章
------------------------------------*/
.add-post{
  .body{
    min-height: 500px;
  }
  .CodeMirror{
    min-height: 500px;
    .CodeMirror-scroll{
      min-height: 500px;
    }
  }
}
.action-popover{
  position: fixed;
  z-index: 5;
  border: 1px solid #eee;
  padding: 20px 0;
  background-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
}