.post {
  border-top: 1px solid #eee;
  margin-bottom: 10px;
  padding: 10px 0;

  &:nth-of-type(1) {
    border-top: 0;
    padding-top: 0
  }

  .entry-title {
    font-size: 18px;
    margin: 10px 0;
    line-height: 30px
  }

  .entry-excerpt {
    font-size: 14px;
    margin: 0
  }
}
