.social-connection{
  .if{
    font:{
      size:20px;
    }
  }
  .i-weibo{
    color: #ea6f5a;
  }
  .i-wechat{
    color:#42c02e;
  }
  .i-github{
    color:#000000;
  }
  .i-qq{
    color:#3398dc;
  }
  .i-check{
    font-size:16px;
  }
}