@import "../blocks/md-editor.scss";

/*------------------------------------
  topic详情页部分
------------------------------------*/
.topic-view{
  .author{
    float:right;
    .avatar{
      width:75px;
    }
  }
  .title{
    //float:left;
    margin-right:10px;
    line-height: 1.2em;
    i{
      font-size: 20px;
      color: #ffa500;
    }
  }
  .meta{
    i.if {
      color: #8590a6
    }
  }

  .panel-footer{
    background: transparent;

    .action{
      float:right;
      margin-bottom: 0;
      font-size: 20px;
      color: $metaColor;
      vertical-align: middle;
      a{
        color: $metaColor;
        text-decoration: none;
        &:hover{
          color: $contrastColor;
        }
        &:focus{
          color: $contrastColor;
          outline:none;
        }
        i{
          font-size: 18px;
        }
        &.cancel-recommend{
          text-decoration: line-through;
        }
      }
    }
  }
}

//回复话题
.reply-topic{
  .panel-heading{
    padding:5px 15px;
    line-height: 20px;
  }
}

/*------------------------------------
  发布新topic
------------------------------------*/
.add-topic{
  .topic{
    .editor{
      border: 1px solid #eee;
      border-left:none;
      .CodeMirror{
        padding:0;
      }
    }
    .body{
      resize: vertical;
      height:350px;
    }
    .thread{
      li.selected{
        a{
          background-color: #9ccc65;
          color: #fff;
        }
      }
    }
    .submit-btn{
        vertical-align: bottom;
    }
    .preview-action{
      margin-left: 20px;
      cursor:pointer;
    }
  }
  .preview-panel{
    //background-color:#fcf8e3;
    background-color:rgba(249, 255, 217, 0.25);
    border: 1px dashed #dedede;
    padding: 10px;
  }
}

/*------------------------------------
  topic页面侧边栏
------------------------------------*/
.topics-widget{
  font-size: 13px;
  li{
    line-height:1.5em;
    overflow: hidden;
    .avatar{
      width:25px;
      height:25px;
      float:right;
      vertical-align: middle
    }
  }
}