@import "../blocks/md-editor.scss";

/*------------------------------------
  topic详情页部分
------------------------------------*/
.topic-view{
  .author{
    float:right;
    .avatar{
      width:100px;
    }
  }
  .title{
    //float:left;
    margin-right:10px;
  }
  .summary{
    height:50px;
    line-height:50px;
    i.if {
      color: #8590a6
    }
  }
}

//回复话题
.reply-topic{
  .panel-heading{
    padding:5px 15px;
    line-height: 20px;
  }
}
.form-panel{
  .form-actions{
    margin-top:10px;
    .tips{
      color:#999;
      font-size: 12px;
      float:right;
      i{
        font-size:15px;
        vertical-align: middle;
        color:#333;
      }
    }
  }
}

/*------------------------------------
  发布新topic
------------------------------------*/
.add-topic{
  .topic{

  }
}

/*------------------------------------
  topic页面侧边栏
------------------------------------*/
.topics-widget{
  li{
    line-height:1.5em;
    overflow: hidden;
    .avatar{
      width:25px;
      height:25px;
      float:right;
      vertical-align: middle
    }
  }
}