/*------------------------------------
  User Dash
------------------------------------*/
.user-dash {
  .user-details{
    .avatar {
      float: left;
      margin: 0 15px 0 0;
      width: 100px;
      img {
        border-radius: 5px;
      }
    }

    .summary {
      text-overflow: ellipsis;
      overflow: hidden;
      .username {
        margin: 3px 0 2px;
        font-size: 21px;
        line-height: 1.5em;
        a {
          color: #337ab7 !important
        }
      }
      .description {
        color: #666;
        font-size: 13px;
        margin: 0 0 5px 0;
        line-height: 20px
      }
      .profile {
        margin-top: 15px;
        line-height: 14px;
        .if{
          vertical-align: middle;
        }
      }
    }
    .actions{
      width:25%;
      .send-message{
        .if{
          font-size:17px;
          vertical-align: middle;
        }
      }
      .follow{
        display:inline-block;
        .if{
          font-size:17px;
          vertical-align: middle;
        }
      }
    }
  }

  .entry-meta {
    color: $metaColor;
    font-size: 12px;
    padding: 10px 15px;
    border-bottom:1px solid $borderColor;
    margin-bottom: -1px;
    text-align:center;
  }
}

/*------------------------------------
  内容列表
------------------------------------*/
.resource-list{
  .title{
    font-size:14px;
  }
  blockquote{
    font-size: 14px;
    margin-top: 5px;
  }
}
/*------------------------------------
  User Panel
------------------------------------*/
.panel-widget-user {
  ul {
    margin: 0;
    li {
      border: 0;
      display: inline-block;
      margin: 4px 0 0 4px;
      padding: 4px
    }
  }
}

/*------------------------------------
  User Panel
------------------------------------*/
.user-counter{
  .cell{
    display:inline-block;
    text-align: center;
    .title{
      color:$metaColor;
      font-size:14px;
    }
    .number{
      font-size: 18px;
    }
    &:not(:last-child){
      border-right: 1px solid #f0f2f7;
    }
  }
}
