.user-dash {
  .entry-author {
    margin: 15px 0 0;
    padding: 20px 30px 15px;
    background-color: #f9f9f9;
    white-space: nowrap;
    position: relative
  }

  .author-avatar {
    float: left;
    margin: 0 15px 0 0
  }

  .author-description, .author-info .vcard {
    text-overflow: ellipsis;
    overflow: hidden
  }

  .author-info .vcard {
    margin: 3px 0 2px;
    font-size: 18px;
    line-height: 30px
  }

  .author-info .vcard a {
    color: #337ab7 !important
  }

  .author-description {
    color: #666;
    font-size: 13px;
    margin: 0 0 5px 0;
    line-height: 20px
  }

  .author-register-time {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    color: #888
  }

  .entry-tab {
    padding: 0 30px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-width: 1px 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: table;
      width: 100%;
      table-layout: fixed;
      border-collapse: separate;
      li {
        display: table-cell;
        float: none;
        width: 1%;
        a {
          display: block;
          text-align: center;
          padding: 0 15px;
          line-height: 38px;
          color: #888;
          text-decoration: none;
          letter-spacing: .1em;
          font-size: 13px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          &:hover {
            color: #555 !important
          }
        }
        &.active a {
          border: 1px solid #eee;
          border-width: 0 1px;
          color: #555 !important
        }
      }
    }
  }

  .entry-meta {
    color: #999;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      color: #999;
      &:hover {
        color: #999;
      }
    }
  }
}

.uclist {
  padding: 0;
  margin: 0 0 30px;
  list-style: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #777;
  li {
    border-top: 1px solid #eee;
    padding: 15px;
    &:first-child {
      border-top: 0
    }
    &.highlight {
      background: #fcfcfc
    }
    .pm-box {
      margin: 0 49px
    }
    .pm-date {
      font-size: 12px;
      line-height: 1.1;
      margin: 0
    }
    .pm-content {
      color: #444;
      line-height: 1.5
    }
    .info {
      font-size: 12px;
      line-height: 22px;
      color: #999
    }
    .text {
      color: #444
    }
    .glyphicon {
      margin: 0 3px
    }
  }

  &.noborder {
    border: 0;
    li {
      padding: 15px 0;
      &:first-child {
        padding-top: 0
      }
    }
  }
}