/*------------------------------------
  钱包详情
------------------------------------*/
.wallet-details{

  .wallet-info{
    padding: 20px 40px;
    border-right: 1px solid #e4e4e4;

    .balance {
      .amount{
        color: #2D2D2F;
        font:{
          size:24px;
          weight:600;
        }
      }
      .freeze-balance{
        display: inline-block;
        padding-left:10px;
        font-size: 14px !important;
        .amount{
          color: #f5a623;
          font:{
            size:14px;
            weight:500;
          }
        }
      }
    }
    .withdraw{
      margin-top:15px;
    }
  }
  .help{
    padding: 20px 40px;
    padding-top:25px;
    color: $metaColor;
  }

  .wallet-histories{
    margin-top:40px;
    th,td{
      padding: 15px 20px;
    }
    td{
      border-top-style: dashed;
      font-size:12px;
      a{
        color: #3194d0;
      }
      &.income{
        color: #3ab54a;
      }
      &.expenses{
        color: #f5a623;
      }
    }
  }
}