{% extends 'PHPDishWebBundle:Book:view_common.html.twig' %}

{% set tab = 'follower' %}

{% block category_content %}
     {% if users.count %}
        <div class="panel-body user-list">
            {% include 'PHPDishWebBundle:User:_user_list.html.twig' %}
        </div>
        {% if users.haveToPaginate %}
            <footer class="panel-footer">
                {{ pagerfanta(users, 'twitter_bootstrap3') }}
            </footer>
        {% endif %}
     {% else %}
         <div class="empty-data">
             <p><i class="if i-fan"></i> 还没有订阅者</p>
         </div>
     {% endif %}
{% endblock %}