<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Introduction · LeetCode题解</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="">
    <meta name="generator" content="GitBook 3.2.3">
    <meta name="author" content="siddontang">
    <link rel="stylesheet" href="https://siddontang.gitbooks.io/leetcode-solution/content/gitbook/style.css">
    <link rel="stylesheet" href="https://siddontang.gitbooks.io/leetcode-solution/content/gitbook/gitbook-plugin-comment/plugin.css">
    <link rel="stylesheet" href="https://siddontang.gitbooks.io/leetcode-solution/content/gitbook/gitbook-plugin-highlight/website.css">
    <link rel="stylesheet" href="https://siddontang.gitbooks.io/leetcode-solution/content/gitbook/gitbook-plugin-search/search.css">
    <link rel="stylesheet" href="https://siddontang.gitbooks.io/leetcode-solution/content/gitbook/gitbook-plugin-fontsettings/website.css">
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://siddontang.gitbooks.io/leetcode-solution/content/gitbook/images/apple-touch-icon-precomposed-152.png">
    <link rel="shortcut icon" href="https://siddontang.gitbooks.io/leetcode-solution/content/gitbook/images/favicon.ico" type="image/x-icon">
    <link rel="next" href="array/" /></head>

<body>


<script src="https://siddontang.gitbooks.io/leetcode-solution/content/gitbook/gitbook.js"></script>
<script src="https://siddontang.gitbooks.io/leetcode-solution/content/gitbook/theme.js"></script>
<script src="https://siddontang.gitbooks.io/leetcode-solution/content/gitbook/gitbook-plugin-comment/plugin.js"></script>
<script src="https://siddontang.gitbooks.io/leetcode-solution/content/gitbook/gitbook-plugin-search/search-engine.js"></script>
<script src="https://siddontang.gitbooks.io/leetcode-solution/content/gitbook/gitbook-plugin-search/search.js"></script>
<script src="https://siddontang.gitbooks.io/leetcode-solution/content/gitbook/gitbook-plugin-lunr/lunr.min.js"></script>
<script src="https://siddontang.gitbooks.io/leetcode-solution/content/gitbook/gitbook-plugin-lunr/search-lunr.js"></script>
<script src="https://siddontang.gitbooks.io/leetcode-solution/content/gitbook/gitbook-plugin-sharing/buttons.js"></script>
<script src="https://siddontang.gitbooks.io/leetcode-solution/content/gitbook/gitbook-plugin-fontsettings/fontsettings.js"></script>
</body>

</html>