{% extends 'PHPDishWebBundle:Book:view_common.html.twig' %}

{% set tab = 'summary' %}

{% block book_content %}
    <div class="book-box">
        <ul class="list-unstyled book-summary" data-role="summary">
            {% for chapter in book.summary %}
            <li class="chapter">
                <div class="clearfix">
                    <span class="name"><i class="fa fa-file-text"></i> {{ loop.index }}. {{ chapter.title }}</span>
                    <span class="action" data-role="action">
                        <a title="修改本章" href="javascript:void(0);"><i class="fa fa-pencil-square-o"></i></a>
                        <a title="添加子章节"  href="javascript:void(0);"><i class="fa fa-plus-square-o"></i></a>
                        <a title="删除本章"  href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                    </span>
                </div>
                <ul class="sub-chapter">
                    {% for children in chapter.children %}
                        <li>
                            <a href="{{ path('book_chapter_view', {'slug': book.slug, 'chapterId': children.id}) }}">{{ chapter.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        <button class="btn u-btn-primary" data-role="add-chapter"><i class="fa fa-plus-square-o"></i> 添加章节</button>
    </div>
{% endblock %}