{% extends 'PHPDishWebBundle:Book:view_common.html.twig' %}

{% set tab = 'about' %}

{% block book_content %}
    <div class="markdown-body book-description">
        {{ book.description|raw }}
    </div>
{% endblock %}