<ul class="list-unstyled category-list">
    {% for category in categories %}
    <li class="category">
        {%  set categoryUrl = path('category_view', {'slug': category.slug}) %}
        <a href="{{ categoryUrl }}" class="cover">
            <img src="{{ category.cover }}" class="media img-responsive"/>
        </a>
        <a href="{{ categoryUrl }}" class="name">{{ category.name }}</a>
    </li>
    {% endfor %}
    <li><span class="add-new-category"><i class="if i-plus"></i> 创建新专栏</span></li>
</ul>