<div id="qrcode-payment-dialog" class="qrcode-payment-dialog">
    <h3 class="text-center">支付宝/微信扫码</h3>
    <img src="{{ qrcode.code }}" class="img-responsive"/>
    <p class="meta small text-center"><i class="if i-tips"></i> 支付结果出来之前不要刷新本页</p>
</div>